[submodule "frontend/health-dashboard"]
	path = frontend/health-dashboard
	url = https://github.com/CStopper56/health-dashboard.git
[submodule "frontend/frontend/health-dashboard"]
	path = frontend/frontend/health-dashboard
	url = https://github.com/CStopper56/health-dashboard.git
